@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary:#fff;
    --color-secundary:#1980e6;
    --color-secundary-1-2:#1980e656;
    --color-terceary:#02746b;
    --aurora-1: #01c89e;
    --aurora-1-2: #01c89d84;
    --aurora-2: #ff3232;
}